.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 24px;
}

.link:hover {
  color: #198754;

}

.activeLink {
  color: #198754;
}



